@model TalentAcquisition.Core.Domain.Department

@{
    ViewBag.Title = "Create Department";
    Layout = "~/Views/Shared/_NormalLayout.cshtml";
}
<ol class="breadcrumb">
    <li><a href="@Url.Action("Dashboard","Admin")">Home</a></li>
    <li class="active">Departments</li>
    <li class="active">Add</li>
</ol>
<section class="container-fluid">
    <div class="container-fluid">
        <div class="">
            <div class="">
                @*<p class="panel-title">
                    <a data-toggle="collapse" href="#main" style="text-decoration:none"> Add Department</a>
                </p>*@
            </div>
            <div id="main" class="panel-collapse collapse in">
                <div class="">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <style>
                            /*a:hover{
                                color:#E5E7E9;
                            }*/
                        </style>
                        <div class="row" >
                            
                        
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                      
                         
                            <div class="form-group" style="padding-left:3em">
                                <label style="display:inline-block;position:relative"> Department Name </label>


                                <div style="display:inline-block">
                                    <input class="form-control text-box single-line" id="DepartmentName" name="DepartmentName" type="text" value="">
                                    <span class="field-validation-valid text-danger" data-valmsg-for="DepartmentName" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                            <div class="form-group" >
                         
                                <div class="col-md-10" style="padding-left: 11.8em;margin-top: 0.7em;">
                                    <input type="submit" value="Create" class="btn btn-default btn-primary" />
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>

</section>

